.coverbody{
width: 100% !important;
height: 100vh  !important;
background: linear-gradient(#343434 0%, #5a5a5a 100%) !important;

}


.logo{
    width: 45px !important;
    height: 45px !important;
    flex-grow: 1 !important;
    margin-top: 42px !important;
    margin-left: 172px !important;
    /* background: url(...); */
    }

    .logo-dravi{

        font-family: Nunito !important;
        font-weight: 600 !important;
        font-size: 25px !important;
        text-align: left !important;
        margin-left: 3px !important;
        margin-top: 57px !important;
        color: #e3c066;
        flex-grow: 1;
        
        }

    
.buyer{
    font-family: Montserrat !important;
    font-weight: normal !important;
    font-size: 14px !important;
    letter-spacing: 0.04em !important;
    text-align: left !important;
    color: #fcfaf1 !important;
    margin-top: 57px !important;
    margin-right: 0% !important;
    
    }
.owner{
font-family: Nexa-Trial !important;
font-weight: normal !important;
font-size: 14px !important;
letter-spacing: 0.04em !important;
text-align: left !important;
color: #fcfaf1 !important;
margin-top: 57px !important;

}

.tenant{
    font-family: Nexa-Trial !important;
font-weight: normal !important;
font-size: 14px !important;
letter-spacing: 0.04em !important;
text-align: left !important;
color: #fcfaf1 !important;
margin-top: 57px !important;
}

.builder{
    font-family: Nexa-Trial !important;
font-weight: normal !important;
font-size: 14px !important;
letter-spacing: 0.04em !important;
text-align: left !important;
color: #fcfaf1 !important;
margin-top: 57px !important;
}

.dealer{
font-family: Nexa-Trial !important;
font-weight: normal !important;
font-size: 14px !important;
letter-spacing: 0.04em !important;
text-align: left !important;
color: #fcfaf1 !important;
margin-top: 57px !important;
}

/* -------------Menu Icon------------------- */
.menu{
    
    color: #fcfaf1 !important;
    height: 15px !important;
    margin-right: 10% !important;
    margin-top: 60px !important;
  
}

.menu-item{
    margin-top: 20px !important;
    margin-left: -20px !important;
    position: absolute !important;
    width: 210px fixed !important;
    height: 500px  !important;
    font-family: Nunito !important;
}


.cancle-icon{
    width: 15x !important;
    height: 15px !important;
    text-align: right !important;
    margin-left: 80% !important;
}

.cancle-icon:active{
    color: darkgoldenrod !important;
}

.menu-1:active{
    color: darkgoldenrod !important;

}

.menu-email-box{
    -ms-grid-layer: 1px solid  #f0e3d0 !important ;
    width: 210px !important;
    height: 40px !important;
    padding: 0px !important;
    color: #000000 !important;
    font-size: 12px !important;
    text-align: center !important ;
    border: 1px solid  #2e1c00 !important ;
    margin-top: 4.9% !important;
    padding-inline-start: 20px !important;
    border-radius: 5px 0px 0px 5px !important;
}

.menu-email-box:active:hover{
    background: white !important;
}

.menu-email-button{
    background-color: #e6b31e   !important ;
    width: 70px !important;
    height: 41px !important;
    font-size: 10px !important;
    font-weight: bold !important;
    letter-spacing: 0.09em;
    color: white !important ;
    margin-top: 4.8% !important ;
    margin-left: -1% !important ;
    border-radius: 0px 5px 5px 0px !important;
    
}





/* ----------TITLE---------------------------------- */

.cover-Title{
    margin-top: 3% !important;
    margin-left: 25.8% !important;
    margin-right: 25% !important;
    text-align: center !important;
    width: 743px !important;
    height: 46px !important;
    letter-spacing: 0.04em !important;
    background: transparent !important;
    color: white !important;
    font-size: 25px !important;
    font-weight: bold !important;
    flex-grow: 1 !important;

}

/* ------------PNG icons------------------ */

.bank{
width: 50px !important;
height: 50px !important;
text-align: center !important;
align-items: center !important;
margin-left: 32.5% !important;
top: 10px !important;
size: 50% !important;
}


.money{
width: 50px !important;
height: 50px !important;
text-align: center !important;
align-items: center !important;
margin-left: 1.8% !important;
top: 10px !important;
size: 50% !important;
}
.fund{
width: 50px !important;
height: 50px !important;
text-align: center !important;
align-items: center !important;
margin-left: 1.8% !important;
top: 10px !important;
size: 50% !important;
}
.estate{
width: 50px !important;
height: 50px !important;
text-align: center !important;
align-items: center !important;
margin-left: 1.8% !important;
top: 10px !important;
size: 50% !important;
}
.case{
width: 50px !important;
height: 50px !important;
text-align: center !important;
align-items: center !important;
margin-left: 1.8% !important;
top: 10px !important;
size: 50% !important;
}

.safe{
width: 50px !important;
height: 50px !important;
text-align: center !important;
align-items: center !important;
margin-left: 1.8% !important;
top: 10px !important;
size: 50% !important;
}

.gold{
width: 50px !important;
height: 50px !important;
text-align: center !important;
align-items: center !important;
margin-left: 1.8% !important;
top: 10px !important;
size: 50% !important;
}

/* ---------------- Icon def----------------------------- */

.property{
font-family: Nunito !important;
font-weight: bold !important;
font-size: 10px !important;
line-height: 11px !important;
text-align: center !important;
color: #fcfaf1 !important;
width: 100px !important;
margin-left: 481px !important;
margin-top: -10px !important;
}

.revenue{
font-family: Nunito !important;
font-weight: bold !important;
font-size: 10px !important;
line-height: 11px !important;
text-align: center !important;
color: #fcfaf1 !important;
width: 68px !important;
margin-left: -2px !important;
margin-top: -10px !important;

}

.land{
    font-family: Nunito !important;
font-weight: bold !important;
font-size: 10px !important;
line-height: 11px !important;
text-align: center !important;
color: #fcfaf1 !important;
width: 50px !important;
margin-left: 15px !important;
margin-top: -10px !important;

}

.realestate{
    font-family: Nunito !important;
    font-weight: bold !important;
    font-size: 10px !important;
    line-height: 11px !important;
    text-align: center !important;
    color: #fcfaf1 !important;
    width: 50px !important;
    margin-left: 28px !important;
    margin-top: -10px !important;
}

.NRI{
    font-family: Nunito !important;
    font-weight: bold !important;
    font-size: 10px !important;
    line-height: 11px !important;
    text-align: center !important;
    color: #fcfaf1 !important;
    width: 40px !important;
    margin-left: 26px !important;
    margin-top: -10px !important;
}

.prop-manage{
    font-family: Nunito !important;
    font-weight: bold !important;
    font-size: 10px !important;
    line-height: 11px !important;
    text-align: center !important;
    color: #fcfaf1 !important;
    width: 76px !important;
    margin-left: 16px !important;
    margin-top: -10px !important;

}

.more-service{
    font-family: Nunito !important;
    font-weight: bold !important;
    font-size: 10px !important;
    line-height: 11px !important;
    text-align: center !important;
    color: #fcfaf1 !important;
    width: 50px !important;
    margin-left: 18px !important;
    margin-top: -10px !important;

}

.select{
    width: 10% !important;
    
    background-color: whitesmoke !important;
    border-radius: 25px 0px 0px 25px;
    margin-top: 2% !important;
    margin-left: 22% !important;
    text-align: center !important;
    font-size: 20px !important;
    outline: none  !important;
    border: none !important;
}

.search{
    width: 35% !important;
    background-color: whitesmoke !important;
    margin-top: 2% !important;
    margin-left: 0% !important;
    text-align: center !important;
    font-size: 20px !important;
    /* border: none !important; */
    outline: invert !important;
    
}

.search:hover {
    border: none !important;
    border-color: white !important;
    
}

.type{
    width: 10% !important;
    background-color: whitesmoke !important;
    border-radius: 0px 25px 25px 0px;
    margin-top: 2% !important;
    margin-left: 0% !important;
    text-align: center !important;
    font-size: 20px !important;
    outline: none  !important;
    border: none !important;
}

.build{
    width: 100% !important;
    height: 100% fixed !important;
    margin-top: -22.5% !important;
    margin-bottom: 0% !important;
}
